.base{
    background-color: rgb(52, 32, 56);
}
.cards{
    display:grid;
        width: 75%;
        height: 50%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        margin: auto;
        justify-content:center;
        text-align:center;
        color:rgb(7, 7, 7);
        padding-bottom: 15px;
}
.cartas {
    border: 3px solid rgb(20, 18, 18);
    display:block;
    margin-top:10px;
    margin-left: 10px; 
    border-radius:15px;
    border-color: black;
    box-shadow: black;
    width: 100%;
    height: 90%;
    text-align:center;
    background-color: #6a597e;
    transition: 1s;
    transition-delay: 2,4s;
    transition-timing-function: ease-in-out;
    
    
}
.cartas:hover{
    background-color: rgba(87, 9, 139, 0.527);
    border-color: rgb(252, 252, 255);
}
    .img{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 180px;
        margin: 5px;
        margin-left: 20px;
        margin-top: 10px;
        border: white solid;
    }
    
.link{
        color: inherit;
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
}
.abajo{
    display: flex;
    align-items: center;
    
    justify-content:space-around;
    color: rgb(255, 255, 255);
}
.abajo:hover {
    color : white;
    
}
.nombre{
    color : white;
    font-size: Century Gothic;
}


